.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;

  .toolbar-title {
    font-size: 20px;
    font-weight: bold;
  }

  .toolbar-spacer {
    flex: 1;
  }

  .logout-button {
    margin-left: 12px;
    border: 2px solid rgba(255, 255, 255, 0.3); // A light border for contrast
    padding: 0 15px; // Optional: adjust padding to your liking
    border-radius: 4px; // Optional: if you want rounded corners
    box-sizing: border-box; // To include the border in the button's dimensions
    transition: background-color 0.3s; // Smooth background color transition on hover

    &:hover {
      background-color: rgba(255, 255, 255, 0.1); // Slight background on hover for feedback
    }
  }
}
