.event-card {
  margin: 40px auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button-container {
  text-align: right;
}

.event-card {
  .create-participants-button {
    margin: 0 0 16px 0; // Adjusted margin to have only bottom margin
  }
}

.event-form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-field {
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px; // Adjusted margin top
}

.submit-button {
  min-width: 150px;
}

mat-form-field {
  .mat-stroked-button {
    margin-top: 16px; // Aligns the button with the input label
  }
}
